* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 50px;
}
.photo {
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  background-size: cover;
  background-position: center;
}
.info {
  color: blueviolet;
  font-family: Italic;
}
footer {
  text-decoration: none;
  color: blueviolet;
  font-family: Italic;
  text-align: center;
}
.navbar {
  background-color: gray;
  color: whitesmoke;
  border-radius: 2px;
  border: 2px solid black;
}
